Package: com.appleworm.matoi
Name: Matoi
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: AppleWorm
Author: AppleWorm
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.mrgcgamer.libgcuniversal
