Package: com.appleworm.matoi
Name: Matoi
Architecture: iphoneos-arm
Description: Apple notes tint color customizer
Maintainer: AppleWorm <applewormdev@gmail.com>
Author: AppleWorm <applewormdev@gmail.com>
Section: Tweaks
dev: AppleWorm
Depends: mobilesubstrate, ws.hbang.common (>= 1.14), firmware (>= 13.0), com.mrgcgamer.libgcuniversal
Icon: file:///Library/PreferenceBundles/MatoiPreferences.bundle/icon_large.png
Version: 1.0.0-1+debug
Installed-Size: 1492
