Package: dr.erast.matoi
Name: Matoi
Architecture: iphoneos-arm
Description: Apple notes tint color customizer
Maintainer: Erast <applewormdev@gmail.com>
Author: Erast <applewormdev@gmail.com>
Section: Tweaks
dev: Erast
Depends: mobilesubstrate, ws.hbang.common (>= 1.14), firmware (>= 14.0), com.mrgcgamer.libgcuniversal
Icon: file:///Library/PreferenceBundles/MatoiPreferences.bundle/icon_large.png
Version: 1.0.0-2+debug
Installed-Size: 1492
